* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif, 'Courier New', Courier, monospace;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.navbar {
  background-color: #131313;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  position: sticky;
  top: 0;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  height: 5rem;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 3rem;
}

.navbar-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-item {
  height: 5rem;
}

.navbar-links {
  color: #fff;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.navbar-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orangered;
  color: #fff;
  width: 100%;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.btn:hover {
  background-color: aqua;
  transition: 0.5s ease;
}

.navbar-links:hover
